a.colab-button {
    display: block;
    background: #0075b4;
    text-decoration: none;
    border-radius: 10px;
    color: white !important;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: 0.3s;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

a.colab-button:hover {
    opacity: 0.75;
}

